body{
    font-family: 'Open Sans', sans-serif;
    color:#333;
    background: #fafafa;
}

.bz-text-center {
    text-align: center;
}

.bz-content-examples {
    display:block;
    border:1px solid #e1e1e1;
    padding: 0.5em;
}